<div class="container-bigCard">

  <div class="bigCard-photo">
    <img
      src="https://miro.medium.com/v2/resize:fit:1358/0*KNqK1IFDqENcyGXS"
      alt=""
      srcset=""
    />
  </div>

    <div class="bigCard-title">
     <h1>
       <a href="https://angular.io/" target="_blank">
         Documentação oficial Angular.
        </a>
      </h1>
    </div>

  <div class="bigCard-description">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </div>
</div>
